@{
    Layout = "_Layout";
}


<div class="news-grid">
    <a href="~/Home/Details" class="news-card">
        <div class="card-grid">
            <div class="news-image-container">
                <img src="https://placehold.co/70x60/8b5cf6/ffffff?text=IA" alt="Inteligencia Artificial" class="news-image">
            </div>

            <h3 class="news-title">La IA General podría estar más cerca de lo que los expertos pensaban</h3>

        </div>
    </a>

    <a href="~/Home/Details" class="news-card">
        <div class="card-grid">
            <div class="news-image-container">
                <img src="https://placehold.co/70x60/a78bfa/ffffff?text=Robo" alt="Robótica" class="news-image">
            </div>

            <h3 class="news-title">Avance en Robótica: Crean un brazo biónico que siente texturas</h3>

           
        </div>
    </a>

    <a href="~/Home/Details" class="news-card">
        <div class="card-grid">
            <div class="news-image-container">
                <img src="https://placehold.co/70x60/7e22ce/ffffff?text=Web" alt="Programación Web" class="news-image">
            </div>
            <h3 class="news-title">Taller de programación web para principiantes tuvo gran participación</h3>
           
        </div>
    </a>

    <a href="~/Home/Details" class="news-card">
        <div class="card-grid">
            <div class="news-image-container">
                <img src="https://placehold.co/70x60/4f46e5/ffffff?text=Lab" alt="Laboratorios" class="news-image">
            </div>
            <h3 class="news-title">Nuevos laboratorios de investigación científica fueron inaugurados</h3>
            
        </div>
    </a>

    <a href="~/Home/Details" class="news-card">
        <div class="card-grid">
            <div class="news-image-container">
                <img src="https://placehold.co/70x60/10b981/ffffff?text=Env" alt="Medio Ambiente" class="news-image">
            </div>
            <h3 class="news-title">Estudiantes desarrollan proyecto de reciclaje innovador para el campus</h3>
            
        </div>
    </a>

    <a href="~/Home/Details" class="news-card">
        <div class="card-grid">
            <div class="news-image-container">
                <img src="https://placehold.co/70x60/f59e0b/ffffff?text=Dep" alt="Deportes" class="news-image">
            </div>
            <h3 class="news-title">Equipo de básquetbol gana campeonato regional universitario</h3>
           
        </div>
    </a>
</div>
